body {
    margin: 0;
    padding: 0;
    counter-reset: section; 
    box-sizing: border-box; 
    background: rgb(253, 253, 253);  
    transition: visibility 1s linear,opacity 1s linear;
}

body * {
    box-sizing: border-box;
}

.lesson {
    margin: 30px 0 10px 0;
    padding: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 30px;
    background: rgb(253, 253, 253);
}

.lesson:first-child {
    margin-top: 10px;
}

.lesson:before {
    counter-increment: section;
    content: counter(section)" ";
    display: inline-block;
    width: 30px;
    height: 30px;
    color: aliceblue;
    background: #ff0066;
    border-radius: 50%;
    text-align: center;
}

.lesson-body {
    padding: 20px 0;
    background: #f2f2f2;
    min-height: 60px;
}

.main {
    max-width: 800px;
    /* background: #f2f2f2; */
    margin: 0 auto;
    height: 100vh;
}

.icon-bar {
    width: 100%;
    background: #817c7c;
    overflow: auto;
}

.icon-bar a {
    width: 20%;
    float: left;
    text-align: center;
    padding: 6px 0;
    transition: all 0.5s ease;
    color: white; 
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;;
}

/* ------2-------- */

.text-center {
    text-align: center;
}

.bar-menu {
    width: 60px;
    display: block;
    cursor: pointer;
    margin: auto;
    background: rgb(35, 173, 35);
    padding: 10px;
    border-radius: 5px;
}

.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #333;
margin: 6px auto;
transition: 0.4s;
}

.change {
    background: #333;
}

.change > div {
    background: rgb(35, 173, 35);
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* -------3---------- */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    background:orange;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    background: orange;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  img {
    object-fit: cover;
    height: 500px;
    width:100%;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* --------4------------- */

  .section-header {
        width: 100%;
        height: 70px;
        font-size: 20px;
        position: relative;
        margin-bottom: 5px;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        background: rgb(49, 49, 92);
        color: lavender;
  }

  .section-header:hover {
    background: rgb(31, 31, 71);
    padding-left: 30px;
    transition: 0.5s;
  }

  .section-header:after {
    content: "+";
    position: absolute;
    right: 0;
    padding-right: 10px;
    
}

.subsection {
    padding: 10px;
    text-align: justify;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordDisplay {
    display: block;
}

.active:after {
    content: "-";;
}

/* --------5--------- */

.contLine {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  position: relative;
  background: rgb(241, 159, 159);
  
}

/* .spanLetter {
  transition: font-size 0.5s;
} */

.line {
  position: absolute;
  width: 100%;
  height: 20px;
  background: #000;
  z-index: 2;
  top: calc(50% - 10px);
  animation-name: up-down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  
}

@keyframes up-down {
  from {background-color: rgb(102, 67, 67);transform: translateY(-35px);}
  to {background-color: rgb(43, 43, 24); transform: translateY(35px);}
}

.lineText {
  position: relative;
}

/* -------------5---------- */

.side {
    height: 50%;
    width: 30%;
    background: rgb(227, 230, 229);
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(199, 196, 196);
    border-bottom: none;
    position: relative;
    cursor: pointer;
}

.side:nth-last-child(2) {
    border-bottom: 1px solid rgb(199, 196, 196);
}



.side:hover + .side-info {
    display: inherit;
    background: rgb(182, 197, 240);
}


.side:hover {
    background: rgb(182, 197, 240);
    border-right: none;
}

.side-info {
    display: none;
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    padding: 10px;
    font-size: 20px;
    left: 30%;
    background: rgb(226, 145, 145);
    border: 1px solid rgb(199, 196, 196);
    border-left: none;

}

.side-wrapper {
    background: rgb(227, 230, 229);
    position: relative;
    height: 200px;
}

.pagelink, #navbar {
  height: 100px;
  font-size: 25px;
  background: rgb(64, 43, 141);
  line-height: 100px;
  color: #f2f2f2;
}

a.footer:visited, .header a:visited {
  color: #f2f2f2;
}

a.footer, .header a {
  height: 100px;
  font-size: 25px;
  line-height: 100px;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.ico {
  font-size: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* ------------------7-------------- */
canvas {
  border: 1px solid goldenrod;
  
}

.canvas-wrapper {
  margin: auto;
  text-align: center;
}